$white: #fff;
$grey: #adb9c9;
$dark-grey: #8393a7;
$darker-grey: #53657d;
$almost-black: #26353f;
$black: #1c1c1c;

$marine: #2f4e84;
$delta: #0375b6;
$sky: #87c1ff;
$fox: #e87619;
$peach: #fccd97;
$dover: #e6f4fc;
$rose: #fce8e6;
$sam: #e02007;
$lichen: #f2f9ec;
$leaf: #90c25b;
