$text-color: $white;
$secondary-text-color: $grey;
$text-highlight: $sky;

$background-color: $almost-black;

$border-color: $dark-grey;
$border-radius: 2px;
$box-shadow: 1px 5px 10px 2px transparentize($black, 0.3);